* {
  padding: 0;
  margin: 0;
}

.body {
  display: flex;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 20%;
}

.menu-item {
  border: #646464 solid 1px;
  height: 100px;
  padding: 10px;
}

.menu-item img {
  display: flex;
  width: 100%;
  height: auto;
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.menu-item h4 {
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

.menu-item h5 {
  font-size: 14px;
  font-weight: normal;
  display: flex;
}

.menu-item h6 {
  font-size: 12px;
  font-weight: normal;
  display: flex;
}

.status {
  display: flex;
  flex-direction: column;
  margin-left: 10px
}

.icons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding: 10px;
  
}
.menu-item-elements {
  display: flex;
  align-items: center;
  min-height: 100%
}

.menu-item-options {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%
}

.icons-item {
  margin-left: auto;
  color: #333;
  margin: 4px;
}